<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:remove="android:maxSdkVersion" tools:node="replace"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:remove="android:maxSdkVersion" tools:node="replace" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>


    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Base"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:foregroundServiceType="dataSync"/>

        <receiver
            android:name=".notification.NotificationActionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="DOWNLOAD_PAUSE" />
                <action android:name="DOWNLOAD_RESUME" />
                <action android:name="DOWNLOAD_CANCEL" />
            </intent-filter>
        </receiver>

    </application>

</manifest>